@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6, ul{
    margin: 0 !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none !important;
}

.left-sec {
    width: 20%;
    /* position: relative; */
    top: 0;
    z-index: 1;
    left: 0;
    transition: 0.5s;
}

.left-sec.active {
    position: fixed;
    left: -100%;
}

.right-sec.active{
    width: 100%;
}

.right-sec {
    width: 80%;
}

.b-gray {
    background: #e4e4e4;
}

.side-section {
    height: 100vh;
}

.side-section ul li {
    padding: 3px 10px;
    font-size: 15px;
}

.side-section ul li a {
    color: black;
}

.side-section ul li:hover, .side-section ul li.active {
    background: #dddddd;
    transition: 0.4s;
}

/* acordian */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion i
{
    float: right;
    padding: 5px 6px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #828282;
    font-size: 10px;
}

.accordion:focus {
    outline: none;
}

.accordion.active, .accordion:hover {
    background-color: #ccc; 
}

.accordion.active i.fa-plus:before
{
    content: "\f068" !important;
}

.panel {
    padding: 0;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* Style the tabcontent inside the tab */
.tabcontent {
    display: none;
    padding: 0;
    border-top: none;
}

.bar {
    padding: 5px 10px;
    border-bottom: 1px solid #dee2e6;
}

.bg-light a {
    padding: 0 5px;
    font-size: 13px;
}

.bg-light a i {
    padding: 0 5px 0 0;
}

/* customize bootstrap tables  */
table.table td, table.table th {
    padding: 5px;
    font-size: 13px;
}

.header {
    height: 50px;
    position: relative;
}

.toggleMenu{
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    /* display: none; */
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #828282;
    margin: 5px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 600px) {
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }
}

p.top-bar a {
    float: right;
    color: #828282;
    padding: 2px 5px;
    border: 1px solid #d2d2d2;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    transition: 0.4s;
}

p.top-bar a:hover
{
    background: #828282;
    color: #f8f9fa;
    border: 1px solid #828282;
}

p.top-bar a i {padding: 0;}

.right-sec .table-responsive
{
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .left-sec {
        position: fixed;
        top: 50px;
        width: 100%;
        left: -100%;
    }
    .left-sec.active {
        left: 0;
    }
    .right-sec{
        width: 100%;
    }
}